@model IEnumerable<RoleViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://www.google.com/search?q=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

<div class="container mt-4">
<h1 class="text-center mb-4">All Users</h1>

<div class="mx-auto mb-4" style="max-width: 500px;">
    <form asp-action="Index" method="get">
        <div class="input-group">
            <input class="form-control" type="text" name="RoleSearchName" placeholder="Role's Name" />
            <button type="submit" class="btn btn-info text-white" style="background-color: #31a2b8; border-color: #31a2b8;">Search</button>
        </div>
    </form>
</div>

@if (Model != null && Model.Any())
{
        <table class="table table-hover table-header-lines mt-3">
        <thead class="text-center">
            <tr>
                <th>Id</th>
                 <th>RoleName</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="text-center" style="vertical-align: middle;">
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                        <td>@user.RoleName</td>
                    <td>
                       <a asp-action="Details" asp-route-id="@user.Id" class="text-info"><i class="fas fa-eye"></i></a>
                    </td>
                    <td>
                       <a asp-action="Edit" asp-route-id="@user.Id" class="text-warning"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>
                      <a asp-action="Delete" asp-route-id="@user.Id" class="text-danger">
                            <i class="fas fa-trash-alt"></i>
                      </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
    else
    {
        <div class="alert alert-warning text-center mt-4">
            <h2>No Roles Found.</h2>
        </div>
    }

</div>

